@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(DXI1O.ttf) format('truetype');
  }

body {
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
}

h5 {
  margin: 0;
  width: auto;
  height: 10px;
  background-color: #fff;
  padding: 15px 35px;
  color: #a9b0c0;
  border-top: 1px solid #c3cada;
  box-sizing: border-box;
  font-weight: 300;
}

input[type="search"] {
  width: 100%;
  height: 50px;
  border: none;
  font-size: 20px;
  padding: 0 35px;
  box-sizing: border-box;
  color: #a9afbd;
  font-weight: 300;
  margin-bottom:20px;
}

.btn-search{
	width: 100%;
	border: #fbfbfb solid 7px;
	cursor:pointer;
	background-color: #34978A;
	color:white;
	font-size:20px;
	padding-top:22px;
	padding-bottom:22px;
  font-weight:700;
}

.pagination{
  font-weight:500;
	font-size: 30px;
  text-align:center;
}

.pagination a{
  padding-left:1%;
}

#sort-area{
  margin-top: 5px;
}

#sort-area div{
  text-align:center;
  
}

/*RADIOS*/
input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : 'âœ“';
  display     : block;
  width       : 1em;
  color       : rgb(153,204,102);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}

input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}


/*FIN RADIOS*/
body{
  background: #eaedf1; 
}


.head { 
    overflow: auto; 
    padding: 20px; 
    background: #fff; 
    border-radius: 5px 5px 0 0; 
    font-size: 10px; 
    color: #b9becd; 
    
}

.logos { 
          display: block; 
          float: left; 
          width: 80px; 
          height: 80px; 
          margin-right: 20px; 
      }

.head h1 { 
    margin: 15px 0 5px; 
    font-weight: 100; 
    font-size: 2.2em; 
    color: #5e6d81; 
}
#buscador_detalle_sub_datos{
  margin-top:10px;
}

li{
  margin-top:5px;
}

ul{
  padding: 0;
  list-style-type: none; 
}

.search-result-info, .sub-search-result-info{
  font-size: 1.5em;
  text-align: center;
  background: #FF988E;
  color: #fff;
  border-radius: 5px;
  padding:10px;
}

.sub-search-result-info{
  background: #385E82;
  display: none;
}

h4 {
  display: table;
  white-space: nowrap;
  border-spacing: 25px 0;
}
h4:before, h4:after {
  content: "";
  display: table-cell;
  width: 50%;
  background: -webkit-linear-gradient(#aaa, #aaa) repeat-x left center;
  background: -moz-linear-gradient(#aaa, #aaa) repeat-x left center;
  background: -ms-linear-gradient(#aaa, #aaa) repeat-x left center;
  background: linear-gradient(#aaa, #aaa) repeat-x left center;
  background-size: 1px 1px;
}


/*INICIO MODAL DIALOG*/

.modal-window {
  position:fixed;
  overflow: scroll;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:rgba(89,93,99,0.65);
  z-index:999;
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
  transition:all 0.3s;
}
.modal-window>div {
  width:80%;
  position:relative;
  margin:10% auto;
  background:#f6fafa;
  color:#a8a8ae;
}
.modal-window header {
  background-color:#f6fafa;
  font-weight:bold;
  border-bottom:1px solid #ebefef;
  color:#a8a8ae;
  padding:2rem;
}
.modal-close {
  background-color:#2980b9;
  color:#FFFFFF;
  line-height:50px;
  font-size:60%;
  position:absolute;
  right:0;
  text-align:center;
  top:0;
  width:90px;
  text-decoration:none;
  font-weight:bold;
}
.modal-close:hover {
  background-color:#3498db;
}
.modal-content {
  padding:1rem;
  line-height: 140%;
}


/*FIN MODAL DIALOG*/


/* INICIO AREA DE COMENTARIOS*/
#div-description{
  text-align:justify;
  margin: 0px auto;
  margin-top: 15px;
  padding: 3%;
  background-color: white;
  color: #515151;
  font-weight: 300;
}
/*
  UI Styles: Letterbox Load
*/
.module {
  position: relative;
  clear: both;
  width: 100%;
  margin-bottom: 5px;
  display: block;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0,0,0, 0.1);}

  .module p {
    color: #444;}

article .bar-full {
  float: left;
  position: relative;
  width: 100%;
  height: 10px;
  background: #f7f7f6;}

article .bar {
  display: block;
  width: 50px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background: #769ff4;}

article .bar-box {
  display: none;
  position: absolute;
  top: 10px;
  width: 160px;
  height: 30px;}

  article .bar-box .bar-flip {
  display: block;
  position: absolute;
  top: 0px;
  width: 160px;
  height: 30px;
  padding: 0 20px;
  background: #6589d4;
  font-weight: 600;
  color: #fff;
  line-height: 30px;
  
  -webkit-transform-origin: 50% 0%;
     -moz-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
       -o-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transform: perspective(250px) rotateX(-90deg);
     -moz-transform: perspective(250px) rotateX(-90deg);
      -ms-transform: perspective(250px) rotateX(-90deg);
       -o-transform: perspective(250px) rotateX(-90deg);
          transform: perspective(250px) rotateX(-90deg);
  -webkit-transition: 0.2s linear 0.2s;
     -moz-transition: 0.2s linear 0.2s;
      -ms-transition: 0.2s linear 0.2s;
       -o-transition: 0.2s linear 0.2s;
          transition: 0.2s linear 0.2s;}

  article:hover .bar-flip {
  -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;}

.come-in .bar,
.already-visible .bar {
  width: 160px;
  -webkit-transition: width 0.35s ease-in;
     -moz-transition: width 0.35s ease-in;
      -ms-transition: width 0.35s ease-in;
       -o-transition: width 0.35s ease-in;
          transition: width 0.35s ease-in;}

.come-in .bar-box,
.already-visible .bar-box{
  display: block;} 


ul{
  padding: 0;
  list-style-type: none; 
}

/*FIN AREA COMENTARIOS*/



/*POWER SEARCH*/
.smallcaps { 
  color: red;
  font-size: 20px;
  background-color: yellow;
  font-weight: bold;
}



/*DETALLE DE SUBTITULOS*/
img.main-pic{
  margin: 5px 0 15px;
  padding: 5px 5px 5px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  width:170px;
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

img.pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.div-details{
  margin: auto;
  margin-top: 20px;
}
.span-left{
  float: left;
}
.span-rigth{
  float: right;
}

div.ultimos-detalles{
  text-align: right;
}

.mas-subs-class{
  font-size: 1rem;
  color: #cacaca;
  line-height: 2em;
  letter-spacing: .15em;
  text-indent: .15em;
}

#rank-pic{
   width: 60px; 
   height: 50px; 
}

.title-h3{
  text-align:center;
  margin: 0px auto;
  padding: 3%;
  background-color: white;
  color: #515151;
  font-weight: 300;
  font-size: 2em;
}


/*FOOTER*/
#footer{
  width:100%;
  height:30%;
  margin: 0;
  clear: both;
  position: relative;
}

#footer > div{
  float:left;
  text-align:center;
  width:50%;
  padding:10px 0 10px 0;
  color:white;
}

.selected{
  background:#385E82;
}

.unselected{
  background:#83A8C3;
}

/*SPINNER*/
.spinner{
    width: 40%;
    height: 25%;
    background-color: lightgray;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 2px solid #000000;
    display:none;
}

.spinner img{
  display: block;
  margin: 10px auto;
}

.spinner p{
  text-align:center;
  font-size:15px;
}


/*TOP MENU*/
html,body{
  height: 100%;
  width: 100%;
  padding:0;
  margin:0 auto;
}

.title h1{
  color:white;
}

.navbar {
  background: #09c;
  width: 100%;
  height: 75px;
 text-align:justify;
  box-shadow: 0 0 10px #000;
}

.navbar .back ,
.navbar .menu,
.navbar .title{
  display:inline-block;
  vertical-align:middle;
  font-size: 70%;
}

.navbar .menu{
  margin:0 1em;/* optionnal*/
}
/* trigger justify if only 1 line */
.navbar:after {
  content:'';
  width:99%;
  display:inline-block;
}
#navigation{
  position: absolute;
  background: #007399;
  width: 100%;
  left: 0;
  z-index: 999;
  transition-timing: 1s;
  box-shadow: 0 0 10px #000;
  display:none;
}

#navigation li{
  list-style:none;
  text-align:center;
}

#navigation li a{
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 70%;
}

#navigation li a:hover {
background: #0086b3;
text-decoration: underline;
}

#navigation ul{
  display:block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 24pt;
 }

/*contenedor de todos los elementos de la pagina*/
.div-main-container{
  width:97%;
  margin:auto;
  margin-top:3%;
}

/*error area*/
.error-title{
  text-align:center;
  font-size: 45px;
  margin:15px;
}

.error-mas-info{
  text-align: right;
  padding-right: 30px;
}


/*error area*/
#div-error{
	width:95%;
	background-color:white;
	margin:auto;
	border-radius : 1%;
}
#div-error img{
  width:45%;
  margin:5%;
}

#div-error .error-msg{
	font-size:90%;
}

/*Promo button*/
#promo-button-container{
	text-align:center;
}
#promo-button-container button{
	    border: none;
	    border-radius: 5px;
	    padding: 20px;
	    margin: 10px 0px 10px 0px;
	    font-size: large;
	    color: #333;
	    background-color: #f39c12;
	    box-shadow: 0px 10px 0px #e67e22;
	    cursor: pointer;
}

#promo-button-container button:active {
	    position: relative;
	    top: 5px;
	    box-shadow: 0px 5px 0px #e67e22;
}